.tenant-content-section {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  // overflow: hidden;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

.tenant-content-title {
  font-size: 20px;
  font-weight: 600;
  color: #303133;
  margin: 0 0 24px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 16px;
}


